body{background-color: aquamarine;}

h1{text-align: center;font-size: 75px;}
button{display: inline-table;margin: 150px;width: 200px;height: 200px;background-color: crimson;}
p{text-align: center;font-size: 25px;}
